@font-face {
  font-family: Avenir Next Demibold;
  src: url(../../fonts/AvenirNext-DemiBold.ttf);
}

@font-face {
  font-family: Avenir Next Regular;
  src: url(../../fonts/AvenirNext-Regular.ttf);
}

.App {
  text-align: center;
  padding-top: 65px;
  line-height: 1;
}