.Header {
    text-align: center;
    background: #43e895;
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.Header::before {
    position: relative;
    display: block;
    width: 100%;
    height: 65px;
}

.Header__text {
    font-family: Avenir Next Demibold, sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
}