.Header {
    text-align: center;
    background: #43e895;
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    /* not listed in the spec, but clearly visible so I grabbed the color from the sample image */
    border-bottom: 1px solid #a7a7aa;
}

.Header__text {
    font-family: Avenir Next Demibold, sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
}

.Header__map-icon {
    position: fixed;
    right: 16px;
    top: 20px;
    cursor: pointer;
}

.Header__map-icon img {
    max-height: 35px;
}